@model Moviy.App.ViewModels.BusViewModel

@{
    ViewData["Title"] = "Editar Veículo";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Update">

    <input type="hidden" asp-for="Id" />
    <vc:Summary></vc:Summary>

    <div class="form-row">
        <div class="form-group col-md-6">

            <label asp-for="LicensePlate"></label>
            <input asp-for="LicensePlate" class="form-control" />
            <span asp-validation-for="LicensePlate" class="text-danger"></span>


        </div>

        <div class="form-group col-md-6">

            <label asp-for="BusColor"></label>
            <div>
                <input type="radio" value="1" asp-for="BusColor" checked="@(Model.BusColor == 1)" /> Red <br/>
                <input type="radio" value="2" asp-for="BusColor" checked="@(Model.BusColor == 2)" /> Blue  <br/>
                <input type="radio" value="3" asp-for="BusColor" checked="@(Model.BusColor == 3)" /> Green  <br/>
                <input type="radio" value="4" asp-for="BusColor" checked="@(Model.BusColor == 4)" /> Yellow  <br/>
            </div>
            <label asp-for="BusSize"></label>
            <div>
                <input type="radio" value="1" asp-for="BusSize" checked="@(Model.BusSize == 1)" /> Large <br/>
                <input type="radio" value="2" asp-for="BusSize" checked="@(Model.BusSize == 2)" /> Small  <br/>
                <input type="radio" value="3" asp-for="BusSize" checked="@(Model.BusSize == 3)" /> Medium  <br/>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-info" asp-action="Index">Voltar</a> 
    </div>
</form>
